# created by virtualenv automatically

#virtual environment
modenv
#media files
images/

# Python cache files
__pycache__/
*.py[cod]

# Django files
*.log

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Environment
.env
