{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
</head>
<body>
    <div class="gradient-section">
        <img src="{% static 'img/me_malayali_gamer_logo.jpg' %}" alt="Me Malayali Gamer Logo" class="gamer-image">
    </div>
    
    <div class="auth-section">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>